:root {
	/* from coolors */
	--lapis-lazuli: hsla(210, 50%, 40%, 1);
	--carolina-blue: hsla(201, 51%, 69%, 1);
	--charcoal: hsla(203, 30%, 26%, 1);
	--light-green: hsla(112, 60%, 74%, 1);
	--nyanza: hsla(124, 64%, 91%, 1);

	/* fonts  */
	--title-font: 'roboto-bold', cursive;
	--style-font: 'pacifico', cursive;

	/* color assignments */
	--lightest-background: var(--nyanza);
	--light-background: var(--carolina-blue);
	--title-selected: var(--light-green);
	--dark-background: var(--charcoal);
	--alt-background: var(--lapis-lazuli);

	/* opacity  */
	--opacity: 0.7;

	/* shadows */
	--standard-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	--title-shadow-standard: 2px 2px 2px rgba(0, 0, 0, 0.3);
	--title-shadow-emphasis: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@font-face {
	font-family: 'roboto-bold';
	src: url(./fonts/Roboto-Bold.ttf);
	format: ('ttf');
}
@font-face {
	font-family: 'pacifico';
	src: url(./fonts/Pacifico-Regular.ttf);
	format: ('ttf');
}

body {
	font-family: helvetica;
	color: white;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100svh;
}

.main,
.footer,
.nav,
.pageContainer {
	display: flex;
	flex-direction: column;
}

.pageContainer {
	width: 100%;
	height: 100dvh;
}
/* container */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--alt-background);
	gap: 2rem;
}
/* app name */
header > h1 {
	color: var(--title-selected);
	font-family: var(--title-font);
	font-size: 3rem;
	opacity: var(--opacity);
	text-shadow: var(--title-shadow-standard);
}

header > img {
	display: flex;
	height: 55px;
	margin-left: 2rem;
}
/* quote */
h2.header {
	display: flex;
	opacity: 0.9;
	font-family: var(--style-font);
	text-shadow: var(--title-shadow-emphasis);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5%;
	background-color: var(--alt-background);
	align-self: flex-end;
	position: relative;
}

.footer-tag {
	font-size: 0.7rem;
	color: var(--title-selected);
	opacity: var(--opacity);
}

.clear-local-storage {
	appearance: none;
	border: none;
	background-color: transparent;
}

.clear-local-storage,
.clear-local-storage > img {
	height: 30px;
	position: absolute;
	right: 1%;
	bottom: 6%;
}

.clear-local-storage > img:hover,
.clear-local-storage > img:focus {
	background-color: red;
}

.clear-local-storage:hover::before {
	content: 'This will clear ALL app data in local storage. No recovery possible.';
	display: inline-block;
	background-color: black;
	color: var(--light-green);
	padding: 0.5em;
	border-radius: 0.25em;
	font-size: 1rem;
	white-space: break-spaces;
	z-index: 1;
	transform: translatey(-125%);
	box-shadow: none !important;
	opacity: var(--opacity);
}
/* holds nav and main */
.mainContainer {
	display: flex;
	width: 100svw;
	height: 90%;
}
/* container */
.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: var(--dark-background);
}

/* this is the project label at the top of the page */
.main-header {
	margin: 1.5rem;
	padding: 1rem 2rem 1rem 2rem;
	border-radius: 0.5rem;
	box-shadow: var(--standard-shadow);
	opacity: var(--opacity);
}
/* task container 'container' */
div.mainContainer > section > section {
	display: flex;
	flex-direction: column;
	width: 95%;
}

/* column labels  */
body > div > div.mainContainer > section > header:nth-child(2) {
	align-self: stretch;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: var(--standard-shadow);
	opacity: var(--opacity);
}

section.todo-container {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	margin: 1rem;
}
article.todo-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	opacity: var(--opacity);
}

/* hides project from display in the table */
.todo-project {
	display: none;
}

/* nav section  */

.nav {
	width: 20%;
	height: 100%;
	background-color: var(--lightest-background);
	color: black;
}

title.nav-title {
	gap: 1rem;
}

.nav > title {
	display: flex;
	flex-direction: column;
	font-family: var(--title-font);
	font-size: 1.5rem;
	margin: 0.75rem;
	opacity: 0.7;
}

div.nav > button {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	border: none;
	margin: 1.3rem;
	opacity: var(--opacity);
	border-radius: 0.5rem;
	background-color: var(--light-background);
	color: black;
	font-size: 1rem;
	font-family: var(--title-font);
	box-shadow: var(--standard-shadow);
}

body > div > div.mainContainer > div.nav > title > ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
	margin: 0.5rem;
	border: none;
	border-radius: 0.5rem;
	background-color: var(--light-background);
	color: black;
	font-size: 1rem;
	font-family: helvetica;
	font-weight: bold;
	list-style: none;
	box-shadow: var(--title-shadow-standard);
}

a.nav-project-item {
	text-decoration: none;
	color: black;
}

img,
button,
ul,
title,
header,
i {
	display: flex;
	border: none;
}

dialog {
	align-items: center;
	height: 20vh;
	width: 20vw;
	border: none;
	background-color: var(--lightest-background);
	border-radius: 0.5rem;
	box-shadow: var(--standard-shadow);
}

dialog.taskModal {
	height: 70dvh;
	width: 30rem;
}

dialog::backdrop {
	background: hsla(112, 60%, 74%, 0.3);
	opacity: 0.9;
}

dialog > form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	height: 100%;
}

form > title {
	font-family: var(--title-font);
	align-self: center;
	font-size: 1.5rem;
	opacity: var(--opacity);
}

form > div > button {
	display: flex;
	gap: 0.1rem;
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;
	background-color: var(--alt-background);
	color: white;
	font-size: 1rem;
	font-family: helvetica;
	font-weight: bold;
	list-style: none;
	opacity: var(--opacity);
	box-shadow: var(--standard-shadow);
}

label {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: var(--opacity);
}

input,
textarea {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 0.5rem;
	height: 1.5rem;
	margin-left: 0.5rem;
	box-shadow: var(--standard-shadow);
}

textarea {
	height: 5rem;
}

select {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 0.5rem;
	height: 1.8rem;
	margin-left: 0.5rem;
	box-shadow: var(--standard-shadow);
	position: relative;
}

input[type='date'] {
	text-align: left;
	position: relative;
}
input[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
}

input,
select,
textarea {
	text-align: left;
	line-height: 0.75rem;
	font-family: Helvetica, Arial, sans-serif;
	padding: 0.25rem;
}

form > .form-div {
	display: flex;
	width: 80%;
	flex-direction: row;
	justify-content: flex-start;
}

.cancel-button {
	margin-left: auto;
}

.submit-button {
	margin-left: 1.5rem;
}
